<html lang="ja">
<meta charset="utf-8">
    <title>top</title>
<head>
 <link rel="stylesheet" href="rock.css">
 </head>

<body>
<br><br><br><br>

<div class=rock_name>
   <p>村上ロック Rock Murakami</p>
</div>

<div class="rock_shousai">


<section class="setumei">



 <div class="rock_profile">
   <h2>プロフィール</h2>
   <p> 北海道帯広市出身の怪談師。村上ROCK名義で俳優としても活動。</p>
   <p> 怪談師として東京都新宿区歌舞伎町にある怪談ライブバー「スリラーナイト」で活動しながら、各種メディアやイベント等に出演している。
 </div>

 <div class="rock_recomen">
   <h2>☆ポイント☆</h2>
   <p>「こわっ」と思ってからもう一段階恐怖がある二段階構造の怪談が至高。</p>
 </div>

 <div class="rock_sns">
    <h2>SNS情報</h2>
    <p>「ROCK ON AIR」公式Youtubeチャンネル</p>
    <p>「村上ロック」公式twitter</p>
    <p>「村上ロックのROCK ON AIRスタッフ」</p>
    <p>「村上ロックの妻@オックさん」</p>
    <p>「村上ロックオフィシャルWEB」</p>
 </div>

</section>

<section class="rock_douga">
 <div class="rock_osusume">
    <h2>おすすめ動画</h2>
  <div class="rock_youtube">
   <div class="rockdouga">
    <p>「お祈り」</p>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/8LW6MJnrvnU?si=8NJWZ7TdUnAWVA6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    <p>怖さレベル：最恐</p>
    <p>かなった　かなった　ねがいががなった　かみさまねがいをきいてくれた　✖✖あげたらきいてくれた</p>
   </div> 
   <div class="rockdouga">
    <p>「洗濯機」</p>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/ovjl-c-0qE0?si=sIOZDVAO-GxPojbf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>怖さレベル：甘恐</p>
    <p>新生活のために新品の洗濯機を買ったはずなのに……。洗濯機を空で回してはいけません。</p>
   </div> 
   <div class="rockdouga"> 
    <p>「籠」</p>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/hnZPujfChzk?si=cKV_ZQlha-pi39Gt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>怖さレベル：最恐</p>
    <p>新居の天井裏から見つかったのは、✖✖の臭いがする奇妙な籠でした。</p>
   </div>
   <div class="rockdouga"> 
    <p>「タカシ」</p>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/-0JpYiqkseU?si=Ihken-OEGxURVEmH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>怖さレベル：並恐</p>
    <p>僕の名前、タカシだっけ？タケシだっけ？人の形をした人以外の物には要注意かもしれません。</p>
  </div>
 </div>
</section>



</div>

</body>