.kaidantoko{
    padding: 100px 30px;
    margin: 0 auto
}

.tokotitle{
    margin:30px 30px 30px 80px
}

.tokotitle h1{
    font-size: xx-large;
    font-weight: bolder;
    font-family: serif, sans-serif;
}

.etsuran{
    padding-left: 30px;
}