.rock_shousai{
    display: flex;
    margin: 0 auto;
}



.rock_name{
    margin:30px 30px 30px 80px
}

.rock_name p{
    font-family: serif, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.rock_profile{
    width: 300px;
    max-height: 20%;
    margin: 20px 20px 20px 100px;
    padding: 20px 20px 20px 20px;
    
}

.rock_profile h2{
    font-family: serif, sans-serif;
    font-weight: bolder;
}

.rock_profile p{
    font-size: medium;
    font-family: serif, sans-serif;
    font-weight: bold;
}

.rock_recomen{
    width: 300px;
    max-height: 20%;
    margin: 50px 20px 20px 100px;
    padding: 20px;

}

.rock_recomen h2{
    font-family: serif, sans-serif;
    font-weight: bolder;
}

.rock_recomen p{
    font-size: medium;
    font-family: serif, sans-serif;
    font-weight: bold;
}

.rock_sns{
    width: 400px;
    max-height: 20%;
    margin: 20px 20px 0px 100px;
    padding: 20px;
}

.rock_sns h2{
    font-family: serif, sans-serif;
    font-weight: bolder;
}

.rock_sns p{
    font-size: medium;
    font-family: serif, sans-serif;
    font-weight: bold;
}

.rock_osusume{
    margin: 20px 100px 20px 20px;
    padding:20px 50px 10px 10px;
}

.rock_osusume h2{
    font-family: serif, sans-serif;
    font-weight: bolder;
}

.rock_youtube p{
    font-size: medium;
    font-family: serif, sans-serif;
    font-weight: bold;
}

.rockdouga{
    padding:20px;
}